.navbar {
    padding: 5px 0;
    position: relative;
}

.names .navbar__logo {
    max-width: 70px;
}

.names h1 {
    font-size: 30px;
    margin-top: -5px;
    color: grey; 
}

.navbar__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: 20px;
    padding: 0; 
    margin: 0;
}

.navbar__item {
    margin-right: 20px;
}

.navbar__item a {
    text-decoration: none;
    color: grey;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}
