.container {
  margin: 10px;
  margin-right: 40px;
  margin-left: 40px;
  padding: 2rem;
  text-align: center;
}

#root {
  width: 100%;
}

.detail {
  padding: 40px;
  display: flex;
  animation: fadeIn .5s ease-in-out forwards;
}

.detail__img {
  width: 1000px;
  height: 500px;
}

.detail__img img {
  height: 100%;
  object-fit: contain;
  border-radius: 10%;
}

.detail__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 50%;
}

.detail__info-title {
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
}

.detail__info-price {
  font-size: 2.40rem;
  color: white;
  font-weight: bold;
}

.detail__info-stock {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 500;
}

.cart {
  text-align: center;
}

.cart__container {
  text-align: start;
  max-width: auto;
}

.cart__products {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;
}

.cart__item {
  display: grid;
  grid-template-columns: 2fr 0.5fr 1fr 2fr 0.5fr; 
  grid-column-gap: 16px; 
  align-items: center; 
  padding: 16px;
  border-radius: 16px;
  border: 1px solid rgb(141, 141, 141);
  width: 100%;
  position: relative;
  padding-right: 20px;
}

.cart__item span {
  width: 100%;
}

.cart__item span:nth-child(2) {
  text-align: center;
}

.cart__item span:nth-child(3),
.cart__item span:nth-child(4) {
  text-align: end;
}

.cart__item-actions {
  display: flex;
  align-items: center;
}

.cart__item-delete {
  background: #2a2a2a;
  opacity: 1;
  border-radius: 6px; 
  padding: 6px 12px;
  font-size: 1.4rem; 
  color: #cccccc;
  border: none;
  cursor: pointer;
}

.cart__item-delete svg {
  font-size: 2.4rem;
  color: #cccccc;
}

.cart__item-button {
  margin-left: auto;
  text-align: end;
  padding: 8px 16px;
  background: none;
  font-size: 1.6rem;
  color: #cccccc;
  border: 1px solid #cccccc6c;
  border-radius: 8px;
  cursor: pointer;
}

.cart__clear-button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  margin-top: -16px;
}

.cart__total {
  grid-column: span 5; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-top: 16px; 
}

.cart__total span {
  font-size: 1.5rem;
  font-weight: bold;
}

.cart__total span:last-child {
  font-size: 2rem;
  text-align: end;
}

.skeleton {
  height: 100%;
  width: 100%;
}

.skeleton__img {
  height: 80%;
  width: 100%;
  background: rgb(202, 165, 165);
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 60%
  )
  #c1c1c1;
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin: auto;
  justify-content: space-between;
}

.form > div {
  width: 100%;
}

.form__input {
  background: none;
  height: 40px;
  border-radius: 8px;
  background: #4e4e4e;
  color: white;
  padding: 8px 16px;
  font-size: 1.8rem;
  width: 100%;
}

.form__input:focus {
  outline: none;
  border: 1px solid rgb(190, 190, 190);
}

.form__button:disabled {
  background: #404040;
  color: #121212;
}

.form__button {
  margin-left: auto;
  padding: 8px 16px;
  background: none;
  font-size: 1.6rem;
  color: #cccccc;
  border: 1px solid #cccccc6c;
  border-radius: 8px;
  cursor: pointer;
}

.cart_vacio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 100px;
}

.form__input.error {
  border-color: red;
}